/*
 * NOTE: Only use either the CSS or the JS, not both.
 *
 */

blink {
  animation: __internal_blink 1500ms infinite steps(2, jump-none);
}

@keyframes __internal_blink {
  0%   { visibility: hidden;  }
  100% { visibility: visible; }
}
